:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --hospital-green-focus: #8eb493;
    --dark: #232830
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;

}

.first-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.second-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
    justify-self: center;
}
.title {
    font-size: 25px;
    justify-self: center;
    margin-bottom: -10px;
}

.subtitle {
    font-size: 16px;
    justify-self: center;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
} 

.email-icon {
    width: 100px;
    margin-bottom: 20px;
    justify-self: center;
}

.button-primary {
    width: 90%;
    height: 50px;
    justify-self: center;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--hospital-green);
}

.button-primary a {
    padding: 30%;
    text-decoration: none;
    color: var(--white);
}

.button-primary:focus {
    background-color: var(--hospital-green-focus);
}

.container-resent {
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--dark);
}

.container-resent a {
    text-decoration: none;
    color: var(--hospital-green);
}

.container-resent a:focus {
    color: var(--hospital-green-focus);
}

@media (min-width: 425px) {
    .logo {
        width: 300px;
    }
    .title {
        font-size: 35px;
    }
    .subtitle {
        font-size: 25px;
    }
    .email-icon {
        width: 150px;
        margin-top: 40px;
        margin-bottom: 70px;
    }
    .button-primary {
        margin-top: 40;
        height: 60px;
        font-size: 20px;
    }
    .button-primary:hover {
        background-color: var(--hospital-green-focus);
    }
    .container-resent a:hover {
        color: var(--hospital-green-focus);
    }
}